 <div class="user">
    <div class="user-profile">
        <p>山田太郎</p>
        <p>大洲中学校3年</p>
    </div>
    <div class="user-progress">
        <p>75%</p>
        <p>section2</p>
    </div>
</div>

<div class="detail">
    <div>
        <p>all:10%</p>
        <p>rank:10/50</p>
    </div>

    <div class="next-test">    
        <p>次のテスト範囲</p>
        <p>1100〜1150</p>
        <p>あと6日</p>    
    </div>

    <div class="section">　<!--クラス名を"progress"にするとcssが適用される-->
        <h1>全体の進捗</h1>
        <ul>
            <% for i in 1..5 do %>
                <li>
                    <div class="section-status">
                        <p>section<%=i%></p>
                        <p>rank:2/50</p>
                        <p>Average:33.4%</p>
                        <p>75%</p>
                    </div>
                </li>  
            <% end %>
        </ul>
    </div>
</div>
