 <div class="user">
    <div class="user-name">
        <p>山田太郎</p>
    </div>
    <div class="user-belong">
        <p>大洲中学校3年</p>
    </div>
    <div class="user-progress">
        <p>75%</p>
        <p>section2</p>
    </div>
</div>

<div class="detail">
    <div>
        <p>all:10%</p>
        <p>rank:10/50</p>
    </div>

    <div class="next-test">
        <div class="next-test-range">
            <p>次のテスト範囲</p>
            <p>1100〜1150</p>
        </div>
        <div class="next-test-deadline">
            <p>あと6日</p>
        </div>
    </div>

    <div>　<!--クラス名を"progress"にするとcssが適用される-->
        <h1>全体の進捗</h1>
        <ul>
            <li>
                <div class="section-name">
                    <p>section１</p>
                </div>
                <div class="section-rank">
                    <p>rank:2/50</p>
                </div>
                <div class="section-average">
                    <p>Average:33.4%</p>
                </div>
                <div class="section-progress">
                    <p>75%</p>
                </div>
            </li>
            <li>
                <div class="section-name">
                    <p>section2</p>
                </div>
                <div class="section-rank">
                    <p>rank:2/50</p>
                </div>
                <div class="section-average">
                    <p>Average:33.4%</p>
                </div>
                <div class="section-progress">
                    <p>75%</p>
                </div>
            </li>
            <li>
                <div class="section-name">
                    <p>section3</p>
                </div>
                <div class="section-rank">
                    <p>rank:2/50</p>
                </div>
                <div class="section-average">
                    <p>Average:33.4%</p>
                </div>
                <div class="section-progress">
                    <p>75%</p>
                </div>
            </li>
            <li>
                <div class="section-name">
                    <p>section4</p>
                </div>
                <div class="section-rank">
                    <p>rank:2/50</p>
                </div>
                <div class="section-average">
                    <p>Average:33.4%</p>
                </div>
                <div class="section-progress">
                    <p>75%</p>
                </div>
            </li>
            <li>
                <div class="section-name">
                    <p>section5</p>
                </div>
                <div class="section-rank">
                    <p>rank:2/50</p>
                </div>
                <div class="section-average">
                    <p>Average:33.4%</p>
                </div>
                <div class="section-progress">
                    <p>75%</p>
                </div>
            </li>
        </ul>
    </div>
</div>